.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
}

.field {
    display: block;
    width: 100%;
    max-width: 600px;
    margin-bottom: var(--spacer-8);
    margin: 32px 0px;
}

.field input {
    width: 100%;
    appearance: none;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: medium;
    padding: var(--spacer-4);
    outline: none;
}

.field input:focus {
    border: 1px solid darkturquoise;
}

.field label {
    font-size: smaller;
}

.field h2 {
    margin: 6px 0px;
}

textarea {
    width: 100%;
    max-width: 600px;
    resize: none;
    appearance: none;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: medium;
    padding: var(--spacer-4);
    outline: none;
}

textarea:focus {
    border: 1px solid darkturquoise;
}

.field button {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    appearance: none;
    padding: var(--spacer-4) var(--spacer-8);
    border: none;
    border-radius: 2px;
    background: teal;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 700;
    color: white;
    cursor: pointer;
}